footer
    background #E5E5E5
    .detalhe-borda
        height 15px
        background $azul
        background-image linear-gradient(-90deg, #19CA00 0%, #19CA00 50%, $azul 50%, $azul 100%)
        .center
            height 100%
            clearfix()
            > div
                height 15px
                width 33.333%
                float left
                background red
                &.cor-1
                    background #001FFE
                &.cor-2
                    background #9C0001
                &.cor-3
                    background #F6AA00
    .wrapper
        display flex
        font-size 0
        .col
            display inline-block
            vertical-align top
            border-left 1px solid #fff
            font-size 16px
            padding 25px 60px 35px 10px
            &:first-child
                border none
                min-width 400px
                width 400px
                padding-left 0
            &:nth-child(2)
                min-width 335px
                width 335px
                padding-right 30px
            &:nth-child(3)
                min-width 212px
                width 212px
            &:nth-child(4)
                min-width 253px
                width 253px
                padding-right 0
            .telefones
                margin 0
                dosis 16
                color $azul
                min-height 33px
                background $img('telefone.png') no-repeat left top
                padding-left 50px
                span
                    display block
                    line-height 1.2
            .whatsapp
                margin 0
                padding-left 50px
                line-height 1.2
                dosis 16
                color $azul
                background $img('whatsapp.png') no-repeat 10px center
            .endereco
                dosis 14
                color $azul
                margin 30px 0 0
                line-height 1.25
                padding-left 50px
                em
                    dosis 11
            .main-link
                color $azul
                dosis 16 bold
                position relative
                padding-left 12px
                margin-bottom 6px
                display block
                &:hover
                    color #F6AA00
                &:before
                    content '\00BB'
                    position absolute
                    top 0
                    left 0
                    color #F6AA00
                    dosis 16 light
            .categorias
                clearfix()
                font-size 0
                margin-top 12px
                a
                    width 45%
                    display block
                    margin-right 5%
                    float left
                    dosis 16
                    color $azul
                    padding 1px 12px
                    transition background .3s
                    &:hover
                        background #F6AA00
            .copyright
                margin-top 75px
                dosis 10
                color $azul
                p
                    margin 0
                    &:first-child
                        margin-bottom 12px
                    a
                        display block
                        &:hover
                            text-decoration underline
            .links
                clearfix()
                a
                    display block
                    width 37px
                    height 37px
                    float left
                    text-indent -9999px
                    transition transform .3s
                    &:hover
                        transform translateY(-3px)
                    &.btn-busca
                        background $img('busca.png') no-repeat center
                        margin-right 20px
                    &.email
                        background $img('email.png') no-repeat center
                    &.facebook
                        background $img('face.png') no-repeat center
                    &.youtube
                        background $img('youtube.png') no-repeat center
                    &.instagram
                        background $img('insta.png') no-repeat center
                    &.linkedin
                        background $img('linkedin.png') no-repeat center
        +tablet()
            .col
                width 50% !important
                min-width auto !important
                &:nth-child(2)
                &:nth-child(3)
                    display none
        +mobile()
            display block
            .col
                width 100% !important
                min-width auto !important
                border none !important
                display block
                padding-left 0
                padding-right 0
                &:nth-child(1)
                    padding-bottom 20px
                &:nth-child(2)
                &:nth-child(3)
                    display none
                &:nth-child(4)
                    padding-top 0
                .copyright
                    margin-top 35px
