header
    height 85px
    width 100%
    background #fff
    border-top 1px solid $azul
    border-bottom 10px solid $azul
    position relative
    .detalhe-borda
        position absolute
        width 100%
        bottom -20px
        left 0
        height 10px
        background $azul
        background-image linear-gradient(-90deg, #FFA3CC 0%, #FFA3CC 50%, #CCE7D3 50%, #CCE7D3 100%)
        .center
            height 100%
            clearfix()
            > div
                height 10px
                width 20%
                float left
                &.cor-1
                    background #9DD3AF
                &.cor-2
                    background #5CC6D0
                &.cor-3
                    background #69C6EF
                &.cor-4
                    background #A9AAD5
                &.cor-5
                    background #FA9AFE
    .center
        height 100%
        position static
    .logo
        display block
        width 220px
        height 100%
        float left
        text-indent -9999px
        background $img('logo.png') no-repeat center
        +mobile()
            width 130px
            background-size 100% auto
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        margin-left 25px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background $azul
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $azul
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    nav#mobile
        +above($tablet)
            display none !important
        display none
        background $azul
        position absolute
        z-index 9997
        border-bottom 4px solid darken($azul, 5)
        width 100%
        padding 15px 5%
        text-align center
        a
            dosis 16 bold
            color #fff
            display block
            margin 7px 0
            &.active
                color #75F5FF
    nav#desktop
        +below($tablet)
            display none !important
        height 100%
        float left
        margin-left 100px
        > a
        .dropdown
            float left
            display inline-block
            height 100%
            line-height 75px
        > a
        .dropdown > a
            dosis 16 bold
            color $azul
            padding 0 15px
            transition background-color .3s
            display inline-block
            height 100%
            line-height 75px
        > a
            &:hover
            &.active
                background $img('seta.png') no-repeat center bottom #E5E5E5
        .dropdown
            &:hover
            &.active
                > a
                  background $img('seta.png') no-repeat center bottom #E5E5E5
        .dropdown nav
            opacity 0
            visibility hidden
            position absolute
            top 74px
            left 0
            width 100%
            height auto
            border-top 10px solid $azul
            border-bottom 10px solid $azul
            background-image linear-gradient(-90deg, #FFA3CC 0%, #FFA3CC 50%, #CCE7D3 50%, #CCE7D3 100%)
            margin 0
            z-index 101
            overflow hidden
            .center
                display flex
                flex-wrap wrap
                background $azul
            a
                width 20%
                display block
                float left
                line-height 1.5
                pacifico 16
                color #fff
                padding 4px 8px
                text-align center
                transition background .3s
                text-shadow 0 1px 1px rgba(#000, .2)
                &:nth-child(5n-9)
                    background #9DD3AF
                    &:hover
                        background darken(#9DD3AF, 12)
                    position relative
                    &:after
                        content ''
                        position absolute
                        width 5000px
                        height 1px
                        background $azul
                        left -2000px
                        bottom 0
                &:nth-child(5n-8)
                    background #5CC6D0
                    &:hover
                        background darken(#5CC6D0, 22)
                &:nth-child(5n-7)
                    background #69C6EF
                    &:hover
                        background darken(#69C6EF, 20)
                &:nth-child(5n-6)
                    background #A9AAD5
                    &:hover
                        background darken(#A9AAD5, 12)
                &:nth-child(5n-5)
                    background #F5B2BE
                    &:hover
                        background darken(#F5B2BE, 6)
        .dropdown:hover > nav
                opacity 1
                visibility visible
    .links
        float right
        margin-top 18px
        clearfix()
        a
            display block
            width 37px
            height 37px
            float left
            text-indent -9999px
            transition transform .3s
            &:hover
                transform translateY(-3px)
            &.btn-busca
                background $img('busca.png') no-repeat center
                margin-right 20px
            &.email
                background $img('email.png') no-repeat center
            &.facebook
                background $img('face.png') no-repeat center
            &.youtube
                background $img('youtube.png') no-repeat center
            &.instagram
                background $img('insta.png') no-repeat center
            &.linkedin
                background $img('linkedin.png') no-repeat center
            +below($mobile)
                display none
                &.btn-busca
                    display block
                    margin 0
    &.home
        height 75px
        border-bottom none
        .detalhe-borda
            display none
        nav#desktop > a:hover
            background-image none
        nav#mobile
            top 69px

.not-found
    width 100%
    text-align center
    padding 180px 0
    +tablet()
        padding 120px 0
    +mobile()
        padding 80px 0
    h1
        display inline-block
        padding 12px 18px
        border 2px solid $azul
        dosis 14 bold
        color $azul
        text-transform uppercase

.modal-busca
    display none
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background rgba(#000, .85)
    z-index 9999
    cursor pointer
    form
        width 700px
        height 64px
        background #fff
        border-radius 32px
        margin 50px auto 0
        position relative
        +below($tablet)
            max-width 600px
            width 80%
        input[type='text']
            width calc('100% - 65px')
            background transparent
            height 100%
            border 0
            outline 0
            padding 0 25px
            pacifico 32
            color #7F7F7F
            margin-left 5px
            +mobile()
                pacifico 20
        input[type='submit']
            width 60px
            height 100%
            position absolute
            right 0
            top 0
            background $img('busca.png') no-repeat center transparent
            border 0
            outline 0
            text-indent -9999px
            cursor pointer

.main
    margin 0 0 30px
    .titulo
        pacifico 36
        color $azul
        margin .8em 0 1em
        +mobile()
            pacifico 26
            margin 1.2em 0
