desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$azul = #0008C5

@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Pacifico');

dosis($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Dosis', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

pacifico($size, $weight = normal)
    font-size $size + 0px
    font-family 'Pacifico', 'Helvetica', 'Arial', sans-serif
    font-weight 400
