.fale-conosco
    .center
        clearfix()
    form
        width 41%
        float left
        margin-right 12%
        +mobile()
            margin-bottom 30px
            width 100%
        input
        textarea
            width 100%
            margin-bottom 2px
            border 0
            outline 0
            resize none
            padding 6px 8px
            dosis 16
            color $azul
            &#nome
                background #99FF99
            &#email
                background #66FECB
            &#telefone
                background #75F5FF
            &#mensagem
                background #A9B0FF
            +placeholder()
                color rgba(#000, .45)
        textarea
            height 130px
            display block
        #form-contato-response
            border 2px solid #A9B0FF
            color $azul
            display none
            margin-bottom 2px
            dosis 14 bold
            text-align center
            padding 10px
        input[type='submit']
            background #FA9AFE
            font-weight bold
            cursor pointer
            transition background .3s
            &:hover
                background darken(#FA9AFE, 5)
    .info
        width 47%
        float right
        +mobile()
            width 100%
        .telefones
            margin 0
            dosis 20
            color $azul
            min-height 33px
            background $img('telefone.png') no-repeat left top
            padding-left 50px
            +mobile()
                font-size 18px
            span
                display block
                line-height 1.2
        .whatsapp
            margin 0
            padding-left 50px
            line-height 1.2
            dosis 20
            color $azul
            background $img('whatsapp.png') no-repeat 10px center
            +mobile()
                font-size 18px
        .endereco
            dosis 16
            color $azul
            margin 30px 0 0
            line-height 1.25
            padding-left 50px
            em
                dosis 12
    .mapa
        width 100%
        height 500px
        margin-top 45px
        iframe
            display block
            width 100%
            height 100%
        +mobile()
            height 300px
            margin-top 30px
