.banners
    margin-top 40px
    position relative
    height 480px
    z-index 100
    +tablet()
        height 400px
        margin-top 25px
    +mobile()
        margin-top 20px
        height 300px
    .slide
        display block
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-size cover
        background-position center top
        .center
            height 100%
        img
            position absolute
            top -44px
            right 0
            +tablet()
                height 450px
                top -25px
            +mobile()
                top -25px
                height 250px
        .texto
            position absolute
            bottom 50px
            text-align center
            z-index 102
            width 100%
            span
                display inline-block
                background $azul
                pacifico 30
                color #fff
                padding 30px
                +tablet()
                    font-size 26px
                    padding 20px
                +mobile()
                    bottom 10px
                    font-size 20px
                    padding 15px
    .cycle-pager
        position absolute
        width 100%
        height 14px
        bottom 18px
        left 0
        font-size 0
        text-align center
        a
            display inline-block
            width 14px
            height 14px
            border 2px solid #fff
            box-shadow 0 1px 2px rgba(#000, .5)
            text-indent -9999px
            border-radius 100%
            margin 0 3px
            transition background .3s
            &.cycle-pager-active
                background #fff

.chamadas
    background $azul
    background-image linear-gradient(-90deg, #19CA00 0%, #19CA00 50%, $azul 50%, $azul 100%)
    .center
        clearfix()
    a
        display block
        float left
        width 33.33333333%
        height 235px
        background-position right bottom
        background-repeat no-repeat
        position relative
        +below($tablet)
            background-size auto 150px
        +mobile()
            width 100%
            height auto
            padding-bottom 160px
        &.chamada-1
            background-color #001FFE
        &.chamada-2
            background-color #9C0001
        &.chamada-3
            background-color #F6AA00
        .texto-wrapper
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            display table
            +mobile()
                position relative
                display block
        .texto
            display table-cell
            vertical-align middle
            padding-left 40px
            padding-right 210px
            h3
                dosis 24
                color #fff
                margin 0 0 5px
            p
                dosis 20
                color #fff
                margin 0
                line-height 1.1
            +tablet()
                padding-left 20px
                padding-right 50%
                h3
                    dosis 20
                    text-shadow 0 1px 3px rgba(#000, .3)
                p
                    dosis 18
                    text-shadow 0 1px 3px rgba(#000, .3)
            +mobile()
                padding-left 20px
                padding-top 20px
                padding-right 0
        .overlay
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background rgba($azul, .8)
            opacity 0
            transition opacity .3s
            span
                display inline-block
                position absolute
                top 50%
                left 50%
                transform translateX(-50%) translateY(-100%)
                border 2px solid #fff
                pacifico 30
                padding 15px 24px
                white-space nowrap
                color #fff
                transition transform .3s
            &:hover
                opacity 1
                span
                    transform translateX(-50%) translateY(-50%)
            +below($tablet)
                span
                    pacifico 20
                    padding 10px 18px

.promocoes
    margin 35px 0 25px
    +mobile()
        margin 25px 0 20px
    h3
        pacifico 24
        color #888
        margin 0 0 25px
        text-align center
    a
        display block
        padding 20px
        background #fff
        position relative
        img
            width 100%
            height auto
        .overlay
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background rgba($azul, .8)
            opacity 0
            transition opacity .3s
            span
                display inline-block
                position absolute
                top 50%
                left 50%
                transform translateX(-50%) translateY(-100%)
                border 2px solid #fff
                pacifico 30
                padding 15px 24px
                white-space nowrap
                color #fff
                transition transform .3s
            &:hover
                opacity 1
                span
                    transform translateX(-50%) translateY(-50%)
            +below($tablet)
                span
                    pacifico 20
                    padding 10px 18px

.slick-arrow
    position absolute
    width 20px
    height 36px
    border 0
    outline 0
    top 50%
    background-color transparent
    background-repeat no-repeat
    background-position center
    text-indent -9999px
    cursor pointer
    &.slick-prev
        left -40px
        transform translateY(-50%)
        background-image $img('carousel-prev.png')
    &.slick-next
        right -40px
        transform translateY(-50%)
        background-image $img('carousel-next.png')
    +below($tablet)
        background-size 15px auto
        background-position center
        width 5%
        &.slick-prev
            left -5%
        &.slick-next
            right -5%
