.produtos-categorias
    width 100%
    height auto
    border-top 10px solid $azul
    border-bottom 10px solid $azul
    background-image linear-gradient(-90deg, #FFA3CC 0%, #FFA3CC 50%, #CCE7D3 50%, #CCE7D3 100%)
    margin 0
    z-index 101
    overflow hidden
    .center
        display flex
        flex-wrap wrap
        background $azul
    a
        width 20%
        display block
        float left
        line-height 1.5
        pacifico 16
        color #fff
        padding 4px 8px
        text-align center
        transition background .3s
        text-shadow 0 1px 1px rgba(#000, .2)
        +above($tablet)
            &:nth-child(5n-9)
                background #9DD3AF
                &:hover
                &.active
                    background darken(#9DD3AF, 12)
                position relative
                &:after
                    content ''
                    position absolute
                    width 5000px
                    height 1px
                    background $azul
                    left -2000px
                    bottom 0
            &:nth-child(5n-8)
                background #5CC6D0
                &:hover
                &.active
                    background darken(#5CC6D0, 22)
            &:nth-child(5n-7)
                background #69C6EF
                &:hover
                &.active
                    background darken(#69C6EF, 20)
            &:nth-child(5n-6)
                background #A9AAD5
                &:hover
                &.active
                    background darken(#A9AAD5, 12)
            &:nth-child(5n-5)
                background #FA9AFE
                &:hover
                &.active
                    background darken(#FA9AFE, 6)
        +tablet()
            width 25%
            &:nth-child(4n-8)
                background #99FF99
                &:hover
                &.active
                    background darken(#99FF99, 12)
                position relative
                &:after
                    content ''
                    position absolute
                    width 5000px
                    height 1px
                    background $azul
                    left -2000px
                    bottom 0
            &:nth-child(4n-7)
                background #66FECB
                &:hover
                &.active
                    background darken(#66FECB, 22)
            &:nth-child(4n-6)
                background #75F5FF
                &:hover
                &.active
                    background darken(#75F5FF, 20)
            &:nth-child(4n-5)
                background #A9B0FF
                &:hover
                &.active
                    background darken(#A9B0FF, 12)
        +mobile()
            width 50%
            &:nth-child(odd)
                background #99FF99
                &:hover
                &.active
                    background darken(#99FF99, 12)
                position relative
                &:after
                    content ''
                    position absolute
                    width 5000px
                    height 1px
                    background $azul
                    left -2000px
                    bottom 0
            &:nth-child(even)
                background #66FECB
                &:hover
                &.active
                    background darken(#66FECB, 22)

.produtos
    .titulo
        color #808080
        .catalogo
            display inline-block
            background $img('icone-pdf.png') no-repeat 5px center $azul
            dosis 17 bold
            color #fff
            padding 10px
            padding-left 48px
            transition background .3s, color .3s
            &:hover
                background-color #F6AA00
                color $azul
            +above($mobile)
                transform translateY(-8px)
                margin-left 10px
            +mobile()
                display block
                margin-top 10px
    .produtos-thumbs
        font-size 0
        a
            display inline-block
            vertical-align top
            width 33.3333%
            border-radius 15px
            border 1px solid transparent
            padding 10px
            transition border .3s
            margin-bottom 15px
            +mobile()
                width 50%
            &:hover
                border-color #808080
            img
                width 100%
                height auto
                display block
            span
                display block
                margin-top 10px
                pacifico 16
                color #808080
                text-align center

.produtos-show
    clearfix()
    .produto-imagem
        width 42%
        float left
        margin-right 10%
        img
            display block
            width 100%
        +mobile()
            width 100%
            margin-right 0
            margin-bottom 20px
    .informacoes
        width 48%
        float left
        +mobile()
            width 100%
        h3
            pacifico 20
            color $azul
            margin 0 0 12px
        p
            dosis 16
            margin 0
        h5
            dosis 16
            color $azul
            margin 30px 0 25px
        .caracteristica
            clearfix()
            width 100%
            margin-bottom 8px
            label
                width 160px
                float left
                text-align center
                background $azul
                pacifico 24
                height 40px
                line-height 40px
                color #fff
                border-radius 30px
            span
                display block
                width calc('100% - 175px')
                float right
                dosis 16
                padding-top 12px
            +mobile()
                label
                    width 120px
                    pacifico 20
                    height 30px
                    line-height 30px
                span
                    width calc('100% - 135px')
                    dosis 15
                    padding-top 8px
        .produto-imagens-thumbs
            clearfix()
            margin-top 45px
            a
                display block
                width calc('20% - 4px')
                margin-right 5px
                float left
                position relative
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background rgba($azul, .35)
                    opacity 0
                    transition opacity .3s
                &.active:after
                    opacity 1
                img
                    width 100%
                    display block
                &:nth-child(5n)
                    margin-right 0
                +mobile()
                    width calc('33.333% - 3.333px')
                    &:nth-child(5n)
                        margin-right 5px
                    &:nth-child(3n)
                        margin-right 0
    .voltar
        width 100%
        float left
        clear both
        margin 65px 0 20px
        text-align center
        +mobile()
            margin 30px 0 10px
        a
            display inline-block
            width 240px
            pacifico 20
            color #808080
            border-top 1px solid #969696
            padding-top 12px
            position relative
            overflow hidden
            &:hover
                color $azul
            &:after
                content ''
                position absolute
                width 80%
                left 10%
                height 10px
                background #fff
                top -10px
                border-radius 100%
                box-shadow 0 0 12px rgba(#000, .6)
