.quem-somos
    .center
        clearfix()
    .texto
        padding-right 55%
        width 100%
        float left
        dosis 16
        color $azul
        min-height 445px
        background-repeat no-repeat
        background-position right top
        padding-bottom 60px
        p
            line-height 2
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        +tablet()
            padding-right 45%
            background-position right top
            background-size 40% auto
            min-height 300px
            padding-bottom 30px
        +mobile()
            padding-right 0
            background-position center bottom
            min-height auto
            padding-bottom 240px
            background-size auto 225px
    .boxes
        background $azul
        background-image linear-gradient(-90deg, #19CA00 0%, #19CA00 50%, $azul 50%, $azul 100%)
        +mobile()
            margin-top 25px
        .center
            display flex
            font-size 0
            div
                display inline-block
                vertical-align top
                width 33.333%
                padding 25px
                h3
                    pacifico 36
                    color #fff
                    margin 0 0 .5em
                p
                    margin 0
                    dosis 16 bold
                    color #fff
                    line-height 2
                &.missao
                    background #001FFE
                &.visao
                    background #9C0001
                &.valores
                    background #F6AA00
            +mobile()
                display block
                div
                    width 100%
                    padding 15px
                    h3
                        font-size 26px
                    p
                        font-size 15px
