.representantes
    .center
        clearfix()
    .lista
        width 45%
        float left
        p
            dosis 16
            color $azul
            margin 0 0 10px
        select
            width 100%
            display block
            dosis 16
            color $azul
            border 1px solid #ddd
            background #fff
            outline 0
        .representantes-lista
            margin-top 25px
            > p
                border 1px solid #ddd
                dosis 15
                color #666
                padding 10px
            > div
                border-top 1px solid #F6AA00
                padding-top 10px
                margin-bottom 20px
                clearfix()
                img
                    float left
                    width 115px
                    display block
                .texto
                    width calc('100% - 145px')
                    float right
                    color $azul
                    padding 8px 0
                    h3
                        dosis 16 bold
                        margin 0 0 1.2em
                    p
                        dosis 16
                        margin .8em 0
                        &:last-child
                            margin-bottom 0
                        a
                            text-decoration underline
                            &:hover
                                color #9C0001
                                text-decoration none
        +below($tablet)
            width 100%
    .mapa
        width 490px
        height 495px
        background $img('mapa.png') no-repeat center
        background-size 490px 495px
        margin 0
        float right
        position relative
        +tablet()
            float left
            margin-top 30px
        +mobile()
            display none
        a
            position absolute
            display block
            text-indent -9999px
            background-size 100% 100%
            background-position center
            background-repeat no-repeat
            opacity 0
            transition opacity .3s
            &:hover
            &.active
                opacity 1
            &.ac
                width 92px
                height 49px
                top 165px
                left 0
                background-image $img('AC.png')
                z-index 2
            &.al
                width 39px
                height 24px
                right 5px
                top 184px
                background-image $img('AL.png')
            &.am
                width 218px
                height 158px
                top 39px
                left 2px
                background-image $img('AM.png')
            &.ap
                width 63px
                height 70px
                top 11px
                left 240px
                background-image $img('AP.png')
                z-index 2
            &.ba
                width 113px
                height 125px
                top 179px
                left 342px
                background-image $img('BA.png')
            &.ce
                width 52px
                height 66px
                top 105px
                left 409px
                background-image $img('CE.png')
            &.df
                width 15px
                height 10px
                top 261px
                left 319px
                background-image $img('DF.png')
                z-index 3
            &.es
                width 29px
                height 44px
                top 297px
                left 393px
                background-image $img('ES.png')
                z-index 2
            &.go
                width 90px
                height 89px
                top 224px
                left 259px
                background-image $img('GO.png')
                z-index 2
            &.ma
                width 88px
                height 118px
                top 81px
                left 317px
                background-image $img('MA.png')
                z-index 2
            &.mg
                width 137px
                height 111px
                top 248px
                left 284px
                background-image $img('MG.png')
            &.ms
                width 88px
                height 89px
                top 283px
                left 200px
                background-image $img('MS.png')
            &.mt
                width 142px
                height 137px
                top 158px
                left 156px
                background-image $img('MT.png')
            &.pa
                width 164px
                height 159px
                top 33px
                left 187px
                background-image $img('PA.png')
            &.pb
                width 48px
                height 30px
                top 148px
                left 441px
                background-image $img('PB.png')
                z-index 2
            &.pe
                width 81px
                height 29px
                top 163px
                left 408px
                background-image $img('PE.png')
            &.pi
                width 71px
                height 103px
                top 104px
                left 349px
                background-image $img('PI.png')
                z-index 3
            &.pr
                width 75px
                height 53px
                top 352px
                left 244px
                background-image $img('PR.png')
                z-index 2
            &.rj
                width 46px
                height 30px
                top 334px
                left 358px
                background-image $img('RJ.png')
                z-index 2
            &.rn
                width 45px
                height 29px
                top 133px
                left 443px
                background-image $img('RN.png')
            &.ro
                width 88px
                height 72px
                top 169px
                left 91px
                background-image $img('RO.png')
            &.rr
                width 77px
                height 86px
                top 0px
                left 112px
                background-image $img('RR.png')
            &.rs
                width 88px
                height 86px
                top 409px
                left 211px
                background-image $img('RS.png')
            &.sc
                width 61px
                height 43px
                top 395px
                left 252px
                background-image $img('SC.png')
            &.se
                width 23px
                height 27px
                top 192px
                left 445px
                background-image $img('SE.png')
            &.sp
                width 104px
                height 72px
                top 317px
                left 261px
                background-image $img('SP.png')
            &.to
                width 61px
                height 103px
                top 133px
                left 291px
                background-image $img('TO.png')
